@model IEnumerable<ERP.Models.Materials>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>List of Materials</h2>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <th>&nbsp;</th>
                <th>Code</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Shelf Number</th>
            </tr>
            @foreach (var material in Model)
            {
                <tr>
                    <td>@Html.ActionLink("Edit", "Update", "Materials", new {Id=material.Id})</td>
                    <td>@material.Code</td>
                    <td>@material.Name</td>
                    <td>@material.Quantity</td>
                    <td>@material.ShelfNumber</td>
                </tr>
            }
        </table>
    </div>
</div>